html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  background: #0057b8; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0057b8;
  height: 5vh;
  animation: slideDown .8s ease; }

div.headerLogo {
  height: 5vh;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px; }

div.headerLogo a {
  background: #FFF;
  padding: 5px 20px 5px 20px;
  border-radius: 40px;
  transition: 0.3s; }

img[src$="logo_blue.png"] {
  height: 20px; }

div.headerLogo a:hover {
  padding: 3px 14px 3px 14px;
  background: rgba(255, 255, 255, 0.9); }

div.headerButtons {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px; }

div.headerButtons a {
  background: #FFF;
  color: #0057b8;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px 8px 20px;
  border-radius: 40px; }

div.headerButtons a:nth-child(1) {
  background: none;
  color: #FFF; }

div.headerButtons a:nth-child(2) {
  padding-left: 32px;
  background-image: url(../images/shoppingcart_blue.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left 5px center; }

div.headerButtons a:hover {
  opacity: 0.8; }

header > a {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  padding-left: 40px;
  background-image: url(../images/twitter_white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  transition: 0.2s;
  display: none; }

header > a:hover {
  opacity: 0.8; }

/******


MAIN


*******/
div.firstSlide {
  height: 95vh;
  background: #02041d;
  overflow: hidden;
  border-bottom: #0057b8 1vh solid; }

div.firstSlideBrushes {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: relative;
  z-index: 1; }

div.firstSlideBrushes img {
  height: 100vh; }

img[src$='firstSlideBack.png'] {
  animation: slideUp 3s ease; }

img[src$='firstSlideFront.png'] {
  animation: slideLeft 1.8s ease; }

@keyframes slideLeft {
  0% {
    transform: translateX(-100vh); }
  100% {
    transform: translateX(0); } }
@keyframes slideUp {
  0% {
    transform: translateY(100vh);
    opacity: 0.01; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes slideUp2 {
  0% {
    transform: translateY(100vh); }
  100% {
    transform: translateY(0); } }
@keyframes slideDown {
  0% {
    transform: translateY(-10vh); }
  100% {
    transform: translateY(0); } }
div.slogan {
  position: absolute;
  width: 95vw;
  display: flex;
  flex-flow: wrap;
  margin-top: 200px; }

div.slogan h1 {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 10em;
  margin: 0;
  margin-left: 16%;
  letter-spacing: .055em; }

div.slogan h1 strong {
  color: #02041d;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  letter-spacing: .055em;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; }

div.slogan {
  z-index: 0;
  -webkit-animation: fadein 1s linear 1 normal forwards; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
div.brushAnimation {
  position: absolute;
  left: 47vw;
  animation: slideUp 1.4s ease; }

img[src$="firstSlideMiddleButtonOFF.png"] {
  position: absolute;
  left: 0vw;
  opacity: 0;
  animation: fader 3s linear infinite; }

img[src$="firstSlideMiddleColorRED.png"] {
  position: absolute;
  left: 0vw;
  opacity: 0;
  animation: faderred 12s linear infinite; }

img[src$="firstSlideMiddleColorYELLOW.png"] {
  position: absolute;
  left: 0vw;
  opacity: 0;
  animation: faderyellow 12s linear infinite; }

img[src$="firstSlideMiddleColorBLUE.png"] {
  position: absolute;
  left: 0vw;
  opacity: 0;
  animation: faderblue 12s linear infinite; }

@keyframes faderred {
  0% {
    opacity: 0; }
  20% {
    opacity: 100; }
  50% {
    opacity: 0; } }
@keyframes faderyellow {
  20% {
    opacity: 0; }
  50% {
    opacity: 100; }
  70% {
    opacity: 0; } }
@keyframes faderblue {
  50% {
    opacity: 0; }
  85% {
    opacity: 100; }
  100% {
    opacity: 0; } }
@keyframes fader {
  0% {
    opacity: 0; }
  50% {
    opacity: 100; }
  100% {
    opacity: 0; } }
div.anchors {
  position: absolute;
  display: block;
  z-index: 2;
  animation: slideUp 1.6s ease; }

div.anchors a:first-child {
  position: absolute;
  left: 62vw;
  top: 70.3vh;
  width: 50px;
  height: 50px;
  background-image: url(../images/hover.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s; }

div.anchors2 a:nth-child(1) {
  position: absolute;
  left: 63vw;
  top: 10.5vh;
  width: 50px;
  height: 50px;
  background-image: url(../images/hover.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s; }

div.anchors3 a:nth-child(1) {
  position: absolute;
  left: 48.5vw;
  top: 85vh;
  width: 50px;
  height: 50px;
  background-image: url(../images/hover.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s; }

div.anchors h3 {
  color: white;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 300px;
  text-align: left;
  opacity: 0;
  transition: 0.3s;
  text-shadow: 0 0 5px #02041d; }

div.anchors3 h3 {
  text-align: right;
  top: 82vh;
  left: 30vw; }

div.anchors2 h3 {
  text-align: right;
  top: 7vh;
  left: 44vw; }

div.anchors1 h3 {
  top: 67vh;
  left: 66vw;
  color: #e0dfdc; }

div.anchors h3 p {
  font-weight: normal;
  font-size: 12px; }

div.anchors a:nth-child(1):hover, div.anchors a:first-child:focus {
  opacity: 0.8;
  transform: rotateZ(45deg); }

div.anchors a:nth-child(1):hover + h3, div.anchors a:nth-child(1):focus + h3 {
  opacity: 1; }

div.discoverIO {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  width: 18vw;
  height: 25.5vw;
  left: 20vw;
  top: 70vh;
  padding-left: 10px;
  border-left: 3px #FFF solid;
  position: absolute;
  z-index: 7;
  animation: slideUp 2.3s ease; }

div.discoverIO h2 {
  color: #839bb6;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 160px;
  margin: 0;
  background-image: url(../images/logo_io.png);
  background-size: contain;
  background-position: right 10px center;
  background-repeat: no-repeat; }

div.discoverIO p {
  font-family: "Roboto", sans-serif;
  color: #FFF; }

div.secondSlide {
  height: 100vh;
  width: 100vw;
  background: #02041d; }

div.secondSlideTitle {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 4; }

div.secondSlideTitle h2 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  margin-top: 5.5vw;
  margin-right: 6vw;
  font-size: 4vw;
  color: #FFF; }

div.secondSlideContent {
  position: absolute;
  z-index: 6;
  width: 100vw;
  display: flex;
  justify-content: center; }

div.secondSlideBrush {
  position: absolute;
  display: flex;
  justify-content: center;
  transform: rotateZ(-75deg) translateX(10vw) translateY(-1vw); }

div.hoverings {
  position: absolute; }

div.secondSlideBrush img {
  height: 65vw; }

a.invisibleButton {
  position: absolute;
  height: 120px;
  width: 80px;
  top: 30vw;
  left: 10vw;
  z-index: 9; }

div.hoverings img {
  opacity: 0;
  transition: 0.3s;
  z-index: 8;
  animation: fader 5s ease infinite; }

div.secondSlideText {
  width: 65vw;
  position: absolute;
  top: 60vh;
  display: flex;
  justify-content: space-between; }

div.secondSlideArticle {
  width: 19vw;
  height: 19vw; }

div.secondSlideText h3 {
  color: white;
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 3vh; }

div.secondSlideText p {
  color: #839bb6;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  text-align: left; }

/**** Background Caracteristics ****/
.area {
  background: #02041d;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0; }

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #0057b8;
  animation: animateBG1 25s linear infinite;
  top: -20vh;
  z-index: 5; }

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s; }

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  z-index: 8; }

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  z-index: 8; }

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  z-index: 8; }

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  z-index: 8; }

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s; }

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s; }

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  z-index: 8; }

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  z-index: 8; }

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s; }

@keyframes animateBG1 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0; }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
    border-radius: 50%; } }
/****** Third Slide (nasa) ******/
div.thirdSlide {
  width: 100vw;
  height: 50vh;
  border-bottom: #0057b8 2vh solid; }

/*** stars back ***/
.stars, .twinkling, .clouds {
  position: absolute;
  display: block;
  width: 100vw;
  height: 50vh; }

.stars {
  z-index: 0;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top center; }

.twinkling {
  z-index: 1;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png") repeat top center;
  animation: move-twink-back 200s linear infinite; }

.clouds {
  z-index: 2;
  background: transparent url("https://image.ibb.co/bT4N7T/clouds.png") repeat top center;
  animation: move-clouds-back 200s linear infinite; }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }
@keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }
div.nasaPartnership {
  width: 100vw;
  height: 50vh;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center; }

div.nasaPartnership img {
  height: 80px; }

div.nasaPartnership h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 40vw;
  text-align: center; }

div.fourthSlider {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  background: #02041d; }

div.fourthSliderimg {
  padding-left: 20vw;
  padding-top: 4vh;
  height: 96vh;
  background-image: url(../images/colordodge.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: center; }

div.fourthSliderimg h2:nth-child(2) {
  color: white;
  font-size: 140px;
  margin: 0;
  margin-left: 5vw;
  margin-top: 10vh; }

div.fourthSliderimg h2:nth-child(3) {
  color: white;
  font-size: 140px;
  margin: 0;
  margin-left: 8.5vw; }

div.fourthSliderimg h2:nth-child(4) {
  color: white;
  font-size: 140px;
  margin: 0;
  margin-left: 11.5vw;
  margin-bottom: 5vh; }

div.fourthSliderimg h2:nth-child(4) strong {
  color: #02041d;
  font-size: 120px;
  letter-spacing: .055em;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  transition: 0.3s; }

div.fourthSliderimg h2 strong:hover, div.fourthSliderimg h2 strong:focus {
  color: #FFF;
  text-shadow: none;
  cursor: pointer; }

div.fourthSliderimg img {
  max-height: 92vh;
  position: absolute;
  transition: 0.5s; }

div.globalImg4:hover img, div.globalImg4:focus img {
  transform: rotateZ(5deg);
  transition: 0.3s; }

div.precommandeprix {
  display: flex;
  align-items: center;
  margin-left: 19vw; }

div.precommandeprix h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 25px; }

div.precommandeprix h3 em {
  text-decoration: line-through;
  font-weight: normal;
  color: grey; }

div.fourthSliderimg a {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 1vw;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 45px; }

a.goBackUp {
  height: 50px;
  width: 50px;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 45px;
  position: fixed;
  right: 2vw;
  bottom: 5vh;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center; }

a.goBackUp img {
  width: 30px;
  height: 30px; }

div.fourthSliderimg a:hover, div.fourthSliderimg a:focus, a.goBackUp:hover {
  animation: animate 8s linear infinite; }

@keyframes animate {
  0% {
    background-position: 0%; }
  100% {
    background-position: 400%; } }
div.secondPage {
  height: 98vh;
  padding-top: 2vh;
  width: 100vw;
  background-image: url(../images/colordodge.png);
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover; }

div.headerButtonsPreorder a {
  background: #FFF;
  color: #0057b8;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-left: 30px;
  padding: 8px 20px 8px 20px;
  border-radius: 40px;
  padding-left: 40px;
  background-image: url(../images/arrowback.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left 5px center; }

div.headerButtonsPreorder a:hover {
  opacity: .8; }

div.headerSubscription a {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-right: 30px; }

div.productSelector {
  width: 400px;
  height: 98vh;
  margin-right: 30px; }

div.colorSelector {
  width: 400px;
  display: flex;
  justify-content: space-around;
  overflow: hidden; }

div.colorSelector img:nth-child(2) {
  animation: slideUp2 1s ease; }

div.colorSelector img:nth-child(4) {
  animation: slideUp2 1.5s ease; }

div.colorSelector img:nth-child(6) {
  animation: slideUp2 2s ease; }

div.colorSelector img:nth-child(8) {
  animation: slideUp2 2.5s ease; }

div.colorSelector a {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: white;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
  position: absolute;
  transition: 0.3s; }

div.productSelector h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px; }

div.colorSelector img {
  transition: 0.3s; }

div.colorSelector a:nth-child(1) {
  transform: translateX(-150px) translateY(700px); }

div.colorSelector a:nth-child(3) {
  transform: translateX(-50px) translateY(700px); }

div.colorSelector a:nth-child(5) {
  transform: translateX(50px) translateY(700px); }

div.colorSelector a:nth-child(7) {
  transform: translateX(150px) translateY(700px); }

div.colorSelector a:hover + img, div.colorSelector a:focus + img {
  opacity: 1; }

div.colorSelector img:hover, div.colorSelector img:focus {
  opacity: 1; }

div.colorSelector a:hover, div.colorSelector a:focus {
  background: #1abc9c; }

div.productSelectorBrush {
  width: 400px;
  display: flex;
  justify-content: space-between; }

div.productSelectorBrush img, div.colorSelector img {
  opacity: 0.2; }

div.payment {
  /*background: grey;*/
  width: 400px;
  height: 98vh; }

form.topperForm label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #FFF;
  opacity: .6;
  margin-left: 10px; }

div.payment h1 {
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 2em;
  margin: 0;
  margin-left: 10px; }

div.payment h2 {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 10px;
  font-weight: normal; }

form.topperForm input {
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: #dbdce0;
  transition: border-bottom .4s;
  font-size: 16px;
  width: 320px;
  margin-left: 10px;
  border-bottom: 1px solid grey;
  margin-bottom: 8px; }

form.topperForm input:focus {
  border-bottom: 2px solid #1abc9c;
  outline: none; }

div.payment h1:nth-child(4) {
  margin-top: 25px; }

/***** CREDIT CARD ****/
.card {
  background: #16181a;
  border-radius: 14px;
  max-width: 300px;
  display: block;
  padding: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 2px 10px 40px black;
  z-index: 99; }

.logo-card {
  max-width: 50px;
  margin-bottom: 15px;
  margin-top: -19px; }

label {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: white;
  opacity: .4; }

input {
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  color: #dbdce0;
  transition: border-bottom .4s; }

input:focus {
  border-bottom: 1px solid #1abc9c;
  outline: none; }

.proceed {
  position: absolute;
  transform: translate(295px, 10px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1abc9c;
  border: none;
  color: white;
  transition: box-shadow .2s, transform .4s;
  cursor: pointer; }

.proceed:active {
  outline: none; }

.proceed:focus {
  outline: none;
  box-shadow: inset 0px 0px 5px white; }

.cardnumber {
  display: block;
  width: 220px;
  font-size: 20px;
  margin-bottom: 8px; }

.name {
  display: block;
  font-size: 15px;
  max-width: 200px;
  float: left;
  margin-bottom: 15px; }

.toleft {
  float: left; }

.ccv {
  width: 50px;
  margin-top: -5px;
  font-size: 15px; }

@media screen and (max-width: 1100px) {
  img[src$='firstSlideFront.png'] {
    display: none; }

  img[src$='firstSlideBack.png'] {
    display: none; }

  div.slogan h1 {
    font-size: 7em;
    margin-left: 8%; }

  div.discoverIO {
    left: 10vw;
    top: 80vh; }

  div.anchors {
    margin-left: 15vw;
    text-align: right; }

  div.anchors3 {
    left: -12vw; }

  div.anchors3 h3 {
    text-align: left;
    left: 55vw; }

  div.anchors2 h3 {
    left: 30vw;
    text-align: right;
    color: #e0dfdc; }

  div.anchors1 h3 {
    left: 30vw;
    text-align: right;
    color: #e0dfdc; }

  div.secondSlideText {
    top: 35vh; }

  div.globalImg4 img {
    transform: translateX(-15vw); }

  div.fourthSliderimg h2 {
    font-size: 100px !important; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  div.discoverIO {
    left: 60vw;
    top: 20vh;
    width: 25vw;
    height: 35.5vw; }

  div.slogan h1 {
    font-size: 10em;
    margin-left: 4%; }

  div.slogan {
    margin-top: 50px; }

  div.nasaPartnership {
    height: 20vh; }

  .stars, .twinkling, .clouds {
    height: 20vh; }

  div.thirdSlide {
    height: 20vh; }

  div.fourthSlider {
    height: 85vh; }

  div.fourthSliderimg {
    height: 76vh; }

  div.fourthSliderimg h2 {
    padding-left: 5vw; }

  div.precommandeprix h3 {
    display: none; }

  div.precommandeprix a {
    margin-left: 20vw; }

  div.globalImg4:hover img, div.globalImg4:focus img {
    transform: rotateZ(0deg); }

  div.brushAnimation img {
    width: 140%;
    height: 140%;
    top: 30vw;
    display: none; }

  div.brushAnimation img:first-child {
    display: block;
    width: 120%;
    height: 120%;
    margin-top: 90vw;
    transform: translateX(-20vw); }

  div.secondSlideText {
    top: 15vh; }

  div.secondSlideArticle h3 {
    font-size: 2vw; }

  div.secondSlide {
    height: 40vh; }

  div.anchors {
    margin-left: 0; }

  div.anchors1 {
    margin-top: 23vw; }

  div.anchors2 {
    margin-left: 3vw;
    margin-top: 81vw; }

  div.anchors3 {
    margin-left: -2vw;
    margin-top: 5vw; }

  div.area {
    display: none; } }
/*******

CARACTERISTICS PAGE

********/

/*# sourceMappingURL=main.css.map */
